@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

